---
// Import Stylesheet
import '../styles/global.css';

// https://drop-api.ea.com/rating/fc-24/filters

// data source
const source = 'https://drop-api.ea.com/rating/fc-24';
// fetch the data
const res = await fetch(source); 
// store retreived data
const data = await res.json();
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />

		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css">

		<title>FUT Data</title>
	</head>
	<body>
		
		<header class="masthead">
			<h1 class="site-title">Ultimate Team</h1>
		</header>

		<main id="content" class="main-area">

			<ul class="cards">
		  
				<!-- Your API Data -->
				{
					data.items.map((item) => (
						<li class="card">
							<img src={item.avatarUrl} alt={item.title} />
							<h2>{item.firstName} {item.lastName}</h2>
							<p>Rating : {item.overallRating}</p>
							<img src={item.nationality.imageUrl} alt={item.nationality.label} />
							<p> {item.nationality.label} </p>
							<img src={item.team.imageUrl} alt={item.team.label} />
							<p> {item.team.label} </p>

						</li>
					))
				}

		  
			</ul>
		  </main>
		  


	</body>
</html>
